body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: 150%;
    cursor: pointer, default;
}

.center {
    display: block;
    width: 100%;
    margin-left: 13%;
    margin-right: auto;
    align-content: center;
}

/*formobile youu shoujld make it so ock goes on left side and icons are botj on right*/

.dock {
    height: 17%;
    background-color: rgb(30,23,30);
    opacity: 0.7;
    position: absolute;
    text-align: center;
    bottom: 0%;
    margin: 0 auto;
    width: 75%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.dock2 {
    height: 17%;
    position: absolute;
    text-align: center;
    bottom: 0%;
    margin: 0 auto;
    width: 75%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: none;
    box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
}

ul {
    font-size: medium;
    font-weight: bold;
    list-style-type: none;
    margin: 0px;
    background-color: rgb(30,23,30);
    opacity: 0.6;
    overflow: hidden;
    padding: 0px;
    box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
    border-bottom: 1px white solid;
}

.word{
    width: 100%;
}

.word:hover {
   cursor: pointer;
}

.icon-label {
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 4px black;
    font-family: 'Open Sans', sans-serif;
}

.icon-label:hover {
    cursor: pointer;
}

#icon1{
    position: absolute;
    top: 30%;
    right: 10%;
}

.txt:hover {
    cursor: pointer;
}

.icon-label4 {
    font-weight: bold;
    color: white;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 4px black;
}

#icon4 {
    position: absolute;
    top: 15%;
    left: 5%;
}

#icon4:hover {
    cursor: pointer;
}

li {
    display: block;
    float: left;
    font-family: helvetica;
    font-variant: small-caps;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    border-left: 1px groove;
    border-right: 1px groove;
    border-radius: 3px;
    border: none;
}

li a {
    display: block;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}


h1 {
    font-style: oblique;
    font-size: 19px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    line-height: 1;
    color: white;
    top: 13px;
    right: 15px;
    position: absolute;
    text-shadow: 2px 2px 2px black;
    font-family: 'Open Sans', sans-serif;
}

.dialog {
    width: 300px;
}

.folder-title-drag {
    cursor: move;
}


.desktop-folder__title-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 0.8rem 0 2.5rem;
    height: 4rem;
    background-image: url('../img/window-tres-lineas.svg');
    background-position: 50% 0.4rem;
    background-size: 67rem 1.3rem;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
}

.dialog-title {
    pointer-events: none;
    padding: 0 0.5rem;
    background-color: #DADAD3;
}

img{
	align: center;
	border-radius: 40px;
}

a:link {
    color: #ca80fc;
    font-style: oblique;
}

a:visited{
	color: #ca80fc;
	font-style: oblique;
}

a:active {
    color: #ca80fc;
}

td {
	border: 2.0px solid rgb(204,204,204);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.window {
    height: 250px;
    width: 40%;
    background-color: white;
    border: solid 3px black;
    top: 10%;
    left: 20%;
    border-radius: 8px;
    box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
}

.portfolio {
    height: 250px;
    position: absolute;
    width: 40%;
    background-color: white;
    border: solid 3px black;
    top: 30%;
    left: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 21px 0px rgba(0,0,0,0.75);
}

.winhead {
    height: 10%;
    background-color: rgb(67,65,70);
    border: solid 1px black;
    padding-bottom: 3%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 0;

}

.winhead:hover{
    cursor: move;
}

p.wtext {
    font-size: 2vw;
    display: inline;
    width: 40%;
    text-align: center;
    padding: 70px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2px;
    text-shadow: 2px 3px 3px black;
}

.close:hover{
    cursor: pointer;
}

.close{
    margin-left: 4px;
    margin-top: 5px;
}

p{
    color: black;
    margin-left: 5%;
    margin-top: 5%;
}

#linkedin:hover{
    cursor: pointer;
    border: solid white;
}

#github:hover {
    cursor: pointer;
    border: solid white;
}
